<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
  <link rel="stylesheet" href="../syles/signUp.css">
</head>
<body>
  <main>
    <div>
      <h1>Sign Up</h1>
    </div>
    <div>
      <form action="/" method="POST">
        <div class="formGroup">
          <input class="top" type="text" name="fName" placeholder="First Name" required autofocus>
          <input class="middle" type="text" name="lName" placeholder="Last Name" required>
          <input class="bottom" type="email" name="email" placeholder="Email" required>
          <button class="btn" type="submit">Submit</button>
        </div>
      </form>
    </div>

  </main>
</body>
</html>